.pbmit-title-bar-wrapper {
    background-color: rgba(0, 0, 0, .5);
    background-image: url('../images//breadcrumb.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    z-index: 2
}

.pbmit-title-bar-wrapper:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5)
}

.pbmit-title-bar-content,
.pbmit-title-bar-wrapper {
    min-height: 500px
}

.pbmit-title-bar-content {
    position: relative;
    z-index: 1;
    padding: 64px 0;
    display: flex;
    align-items: center
}

.pbmit-title-bar-content .pbmit-breadcrumb,
.pbmit-title-bar-content-inner {
    width: 100%;
    text-align: center
}

.pbmit-title-bar-content .pbmit-breadcrumb,
.pbmit-title-bar-content .pbmit-tbar {
    display: block
}

.pbmit-title-bar-content .pbmit-tbar-inner {
    max-width: none;
    padding: 0;
    margin-bottom: 15px
}

.pbmit-tbar-title {
    font-size: 50px;
    line-height: 60px;
    color: var(--pbmit-white-color);
    text-transform: none;
    font-style: normal;
    margin-bottom: 0
}

.pbmit-breadcrumb,
.pbmit-breadcrumb a {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: .5px;
    color: var(--pbmit-white-color);
    text-transform: capitalize;
    font-style: normal
}

.pbmit-breadcrumb a:hover {
    color: inherit
}

.pbmit-breadcrumb .pbmit-breadcrumb-inner {
    padding-left: 5px
}

.pbmit-breadcrumb .pbmit-breadcrumb-inner .sep {
    font-size: 15px;
    position: relative
}

.pbmit-breadcrumb .pbmit-breadcrumb-inner .sep i:before {
    margin: 0
}

@keyframes anime {
    0% {
        transform-origin: left;
        transform: scaleX(0)
    }

    50% {
        transform-origin: left;
        transform: scaleX(1)
    }

    51% {
        transform-origin: right
    }

    100% {
        transform-origin: right;
        transform: scaleX(0)
    }
}

@keyframes anime1 {
    0% {
        transform-origin: top;
        transform: scaleY(0)
    }

    50% {
        transform-origin: top;
        transform: scaleY(1)
    }

    51% {
        transform-origin: bottom
    }

    100% {
        transform-origin: bottom;
        transform: scaleY(0)
    }
}

@keyframes pbmit-faded {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@supports (mix-blend-mode:exclusion) {

    .pbmit-cursor.-exclusion,
    .pbmit-cursor.-opaque {
        mix-blend-mode: exclusion
    }
}

@supports (mix-blend-mode:exclusion) {

    .pbmit-cursor.-exclusion:before,
    .pbmit-cursor.-opaque:before {
        background: #fff
    }
}